@{
    Layout = null;
}
@RenderPage("../common/header.cshtml")
<div>
    @ViewBag.foo
</div>
<ul>
  @foreach (var item in ViewBag.bar){
    <li>@item</li>
  }
</ul>
@RenderPage("../common/footer.cshtml")
